body{
    height: 100vh;
    width: 100%;
}
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: var(--color-detalles);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-f{
    height: 80px;
    margin-bottom: 1rem;
}
.contenedor_redes, .contendor_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.redes{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid black;
    background-image: url(./img/instagram.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.redes:hover{
    background: rgb(78, 74, 74);
    filter: invert(1);
}
.redes:nth-last-of-type(2){
    background-image: url(./img/wpp.png);

}
.redes:nth-last-of-type(3){
    background-image: url(./img/Facebook_Logo_\(2019\).png)
}
.redes:nth-last-of-type(4){
    background-image: url(./img/yt.png);
}

.contendor_menu .copyright {
    list-style: none;
    color: aliceblue;
    font-size: 18px;
}
.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}

@media(max-width:952px){


    .contenedor_redes, .contendor_menu footer{
        flex-direction: column;
        max-width: 500px;
    }
}



